.calendaryear{
    height: 100px;
    width: auto;
    margin-left: 60px;
    display: block;
}

.clock{
    height: 100px;
    width: auto;
    margin-left: 60px;
    display: block;
}

.saudavel{
    height: 100px;
    width: auto;
    margin-left: 60px;
    display: block;
}

.ideia{
    height: 100px;
    width: auto;
    margin-left: 60px;
    display: block;
}