*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: rgb(109, 109, 109);
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

.row{
    max-width: 1140px;
    margin: 0 auto;
}

header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), hsla(0, 0%, 0%, 0.7)), url(img/hero.jpg);
    background-size: cover; /*Informar para centralizar a imagem, enxergando toda ela*/
    height: 100vh; /*Ocupa 100 view port*/
}
.hero-text-box{
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

h1{
    margin: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 240%;
    font-weight: 300; /*Grossura da letra*/
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 3px;
}

.btn:link,
.btn:visited { /*Psudo classe, Estado do link após ter clicado*/
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
   }

.btn-full:link,
.btn-full:visited {
    background-color: #db6606;
    border: 1px solid #db6606;
    color: #fff;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #db6606;
    color: #db6606;
}

.btn:hover
.btn:active{
    background-color: #ff6004 ;
}

.btn-full:hover,
.btn-full:active {
    background-color: #db6606;
    border: 1px solid ;
    color: #000;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid;
    color: #fff;
}